<p class="text-center text-gray-500 dark:text-slate-400 text-sm mb-2">
  You can also find me on <a href="https://social.lol/@kpl" class="text-primary hover:underline dark:text-primary-light">the Fediverse</a> and (ick) <a href="https://www.linkedin.com/in/kevinlawver/" class="text-primary hover:underline dark:text-primary-light">LinkedIn</a>.
</p>
