---
permalink: /office-hours/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/2018/12/im-on-team-officehours/">
  <link rel="canonical" href="/2018/12/im-on-team-officehours/">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/2018/12/im-on-team-officehours/">/2018/12/im-on-team-officehours/</a></p>
</body>
</html>
